= content_tag_for(:tr, list) do
  %td= link_to list.name, example_list_path(list), data: { remote: true, target: 'content', push: true }
  %td= link_to 'Edit', edit_example_list_path(list), data: { remote: true, target: 'modal', modal: true }
